In [14]:
import pandas as pd

import matplotlib.pyplot as plt

db = pd.read_csv('pokemon_data.csv')

alphaDB = db.sort_values('Name')

finalDB = alphaDB[['Name', 'HP', 'Attack']].reset_index(drop=True)

finalDB.to_excel("Pokemon_alpha.xlsx")

In [22]:
specAtkDB = db.sort_values(['Sp. Atk'], ascending=False).reset_index(drop=True)



final = specAtkDB[0:15].reset_index(drop=True)

final.to_excel('Top Special Attacks.xlsx')

In [36]:
db['BigNum'] = db['Sp. Atk'] + db['Defense']

defAndAtk = db.sort_values(['BigNum'], ascending=False)[0:2].reset_index()

defAndAtk.to_excel('3 strongest defense w strongest special attack.xlsx')

In [44]:
db.drop(['BigNum'], axis=1)

# df.loc[df['Name'].str.contains("^pi[a-z]*", flags=re.I, regex=True)]
containsADI = db.loc[db['Name'].str.contains('adi')].reset_index()

containsADI.to_excel('4 contains adi in the name.xlsx')

In [57]:
import re

smallDB = db.loc[~db['Name'].str.contains('mega', flags=re.I)].reset_index()

smallDB['total'] = smallDB['HP'] + smallDB['Attack'] + smallDB['Defense'] + smallDB['Sp. Atk'] + smallDB['Sp. Def'] + smallDB['Speed']

pseudos = smallDB.loc[smallDB['total'] == 600].reset_index()

pseudos.to_excel('5 pseudo legendaries.xlsx')

In [65]:
db.drop(['BigNum'], axis=1)

grass = db.loc[db['Type 1'] == 'Grass']

grassAttack = grass.sort_values(['Attack'], ascending=False)[:10]

grassAttack[['Name', 'Type 1', 'Type 2', 'Attack', 'Generation']].to_excel('6 strong grass type attack.xlsx')

In [90]:
db = pd.read_csv('pokemon_data.csv')
# db[0:7]
twoTypes = db.loc[~db['Type 2'].isnull()].reset_index(drop=True)

twoTypes.to_excel('7 two type pokemon.xlsx')

In [93]:
maxFighters = db.iloc[db.groupby('Type 1')['Attack'].agg(pd.Series.idxmax)]

maxFighters.to_excel('8 strongest attack of each type.xlsx')

In [27]:
import pandas as pd

db = pd.read_csv('pokemon_data.csv')

lowHP = db.loc[db['HP'].idxmin()]
lowAttack = db.loc[db['Attack'].idxmin()]
lowDefense = db.loc[db['Defense'].idxmin()]
lowSpAtk = db.loc[db['Sp. Atk'].idxmin()]
lowSpDef = db.loc[db['Sp. Def'].idxmin()]
lowSpeed = db.loc[db['Speed'].idxmin()]

myList = [lowHP, lowAttack, lowDefense, lowSpAtk, lowSpDef, lowSpeed]
writer = pd.ExcelWriter('9 low stats.xlsx', engine='xlsxwriter')

lowHP.to_excel(writer, sheet_name='lowHP')
lowAttack.to_excel(writer, sheet_name='lowAttack')
lowDefense.to_excel(writer, sheet_name='lowDefense')
lowSpAtk.to_excel(writer, sheet_name='lowSpAtk')
lowSpDef.to_excel(writer, sheet_name='lowSpDef')
lowSpeed.to_excel(writer, sheet_name='lowSpeed')

writer.save()

In [28]:
import pandas as pd

db = pd.read_csv('pokemon_data.csv')

writer = pd.ExcelWriter('10 max values.xlsx', engine='xlsxwriter')


highHP = db.loc[db['HP'].idxmax()]
highHP.to_excel(writer, sheet_name='highHP')
highAttack = db.loc[db['Attack'].idxmax()]
highAttack.to_excel(writer, sheet_name='highAttack')
highHP = db.loc[db['HP'].idxmax()]
highHP.to_excel(writer, sheet_name='highHP')




writer.save()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True